
@{
    Layout = "_BlankLayout";
}

<style>
    .layout-container {
        background-image: none;
    }
</style>

<div class="row justify-content-center mt-3">
    <div class="col-md-12">
        <form class="p-4 border rounded shadow-sm bg-light" style="width: 100%;">
            <div class="card-body">
                <div class="table-responsive" style="height:60vh">
                    <table class="table table-hover table-bordered" style="max-height:60vh; overflow:auto;width:100%;">

                        <thead style="position: sticky; top: 0; z-index: 1; background:#00CCDD;color:white !important ;text-align: center;">

                            <tr>
                                <th rowspan="2" style="color:white; font-weight:bold; vertical-align: middle;">District</th>
                                <th colspan="3" style="color:white; font-weight:bold;">Pending Grievances</th>
                                <th rowspan="2" style="color:white; font-weight:bold; text-align: center;vertical-align: middle;"> Total Pending Grievances</th>
                                <th colspan="3" style="color:white; font-weight:bold;">Complaints Resolve in</th>
                                <th rowspan="2" style="color:white; font-weight:bold;vertical-align: middle;">Total Resolved Complaints</th>
                                <th rowspan="2" style="color:white; font-weight:bold;vertical-align: middle;">Total Grievances</th>
                            </tr>
                            <tr>
                                <th style="color:white; font-weight:bold; background-color:orange;">0-7 Days</th>
                                <th style="color:white; font-weight:bold; background-color:orange;">7-15 Days</th>
                                <th style="color:white; font-weight:bold; background-color:orange;">More Than 15 Days</th>
                                <th style="color:white; font-weight:bold; background-color:orange;">0-7 Days</th>
                                <th style="color:white; font-weight:bold; background-color:orange;">7-15 Days</th>
                                <th style="color:white; font-weight:bold; background-color:orange;">More Than 15 Days</th>
                            </tr>

                        </thead>

                        <tbody style="text-align:center">
                            <tr>
                                <td>Mahasamund</td>
                                <td>5</td>
                                <td>4</td>
                                <td>6</td>
                                <td style="font-weight:Bold">15</td>
                                <td>5</td>
                                <td>4</td>
                                <td>6</td>
                                <td style="font-weight:Bold">15</td>
                                <td style="font-weight:Bold">30</td>
                            </tr>
                            <tr>
                                <td>Dhamtari</td>
                                <td>1</td>
                                <td>3</td>
                                <td>7</td>
                                <td style="font-weight:Bold">11</td>
                                <td>3</td>
                                <td>2</td>
                                <td>1</td>
                                <td style="font-weight:Bold">6</td>
                                <td style="font-weight:Bold">17</td>
                            </tr>
                            <tr>
                                <td>Balodabazar</td>
                                <td>3</td>
                                <td>5</td>
                                <td>8</td>
                                <td style="font-weight:Bold">16</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td style="font-weight:Bold">9</td>
                                <td style ="font-weight:Bold">25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>