@model List<WebApp.Models.VwSSYInspectionInProgress>
@{
    ViewData["Title"] = "SSY In Progress | CREDA";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />


<style>

    #universalLoader {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid rgba(0, 0, 0, 0.1);
        border-left-color: #3498db;
        border-radius: 50%;
        animation: spin 1.2s linear infinite;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #ReportLoader {
        display: none !important;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
        text-align: center;
        line-height: 86px;
        text-align: center;
        position: relative;
        padding: 0 48px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #566a7f;
    }

        .loader:before, .loader:after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: currentColor;
            position: absolute;
            animation: load .7s infinite alternate ease-in-out;
            top: 0;
        }

        .loader:after {
            top: auto;
            bottom: 0;
        }

    @@keyframes load {
        0% {
            left: 0;
            height: 43px;
            width: 15px;
            transform: translateX(0)
        }

        50% {
            height: 10px;
            width: 40px
        }

        100% {
            left: 100%;
            height: 43px;
            width: 15px;
            transform: translateX(-100%)
        }
    }

    .select2-container--default .select2-selection--single {
        height: 38px;
        border: var(--bs-border-width) solid #d9dee3;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 35px;
            color: #697a8d;
        }


        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px;
            right: 9px;
        }
</style>
<div id="universalLoader">
    <div class="spinner"></div>
</div>

<div id="ReportLoader">
    <span class="loader">Downloading Report....</span>
</div>



<div id="FaultFiltersView">
    <div class="row justify-content-center mt-md-3">
        <h2>SSY In Progress Inspections List</h2>
        <button id="backToDashButton" class="btn btn-back-to-dash">
            <img src="~/img/Home_icon.png" alt="Alternate Text" class="home-icon">
        </button>
        <div class="col-12">
            <div class="p-4 border rounded shadow-sm bg-light">
                <!-- First row of fields -->
                <div class="row g-3 mb-3">
                    <!-- First column -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="d-flex align-items-center" id="down">
                            <select id="District" class="form-control custom-dropdown" onchange="SSYIPDistrictClicked()">
                                <option value="">Select District</option>
                            </select>
                            <span class="dropdown-arrow"></span>
                        </div>
                    </div>

                    <!-- Second column -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="d-flex align-items-center position-relative" id="down">
                            <select id="Block" class="form-control custom-dropdown" onchange="SSYIPBlockClicked()">
                                <option value="">Select Block</option>
                            </select>
                            <span class="dropdown-arrow"></span>
                        </div>
                    </div>

                    <!-- Third column -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="d-flex align-items-center" id="down">
                            <select id="Village" class="form-control custom-dropdown" onchange="SSYIPVillageClicked()">
                                <option value="">Select Village</option>
                            </select>
                            <span class="dropdown-arrow"></span>
                        </div>
                    </div>

                    <!-- Fourth column -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="d-flex align-items-center" id="down">
                            <select id="WorkingStatus" class="form-control custom-dropdown" onchange="SSYIPWorkingStatusClicked()">
                                <option value="-1">Select Status</option>
                                <option value="1">Working</option>
                                <option value="0">Not Working</option>
                            </select>
                            <span class="dropdown-arrow"></span>
                        </div>
                    </div>

                    <!-- System Integrator column -->
                    <div class="col-12 col-md-6 col-lg-4" id="Size1">
                        <div class="d-flex align-items-center">
                            <select id="SystemIntegrator" class="form-control custom-dropdown" onchange="SSYIPSystemIntegratorClicked()">
                                <option value="">Select System Integrator</option>
                            </select>
                            <span class="dropdown-arrow"></span>
                        </div>
                    </div>

                    <!-- Inspection ID Search -->
                    <div class="col-12 col-md-6 col-lg-4" id="Size">
                        <div class="d-flex align-items-center">
                            <input type="text" class="form-control search-box" placeholder="Inspection ID" id="inspectionId">
                        </div>
                    </div>

                    <!-- Search and Clear Buttons -->
                    <div class="col-12 col-md-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
                        <button type="button" class="btn btn-primary" id="searchButton" onclick="SearchSSYInprogressList()" style=""><img src="~/img/Search_icon.png" alt="" class="search_icon" />SEARCH</button>
                        <button type="button" class="btn btn-primary ms-2" id="clearButton" onclick="ClearAllSearchSSYInprogress()"><img src="~/img/Clear_icon.png" alt="Alternate Text" class="clear_icon" /> CLEAR</button>
                        <button type="button" class="btn btn-primary ms-2" id="DownloadButton" onclick="SSYIPDownloadReportListClicked()"><img src="~/img/Download_icon.png" alt="" class="download_icon" /> DOWNLOAD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="SSYIPIPartialView"></div>
@section PageScripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/report.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
    <script>
        document.getElementById('backToDashButton').addEventListener('click', function () {
            BackToDashboard();
        });
        $(document).ready(function () {
            fetchDistforAdminPanel();
            getSIName();

            SearchSSYInProgressList();

            $("#SystemIntegrator").select2();
            $("#Village").select2();
        });
    </script>

}