
@{
    Layout = "_BlankLayout";
}

<div class="row justify-content-center mt-md-3">
    <div class="col-md-12">
        <table class="table table-hover table-bordered" style="max-height:40vh; overflow:auto;width:100%;">
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1; background:#00CCDD;color:white !important">
                <tr>
                    <th style="color:white; width:5%;  font-weight:bold;">S.No</th>
                    <th style="color:white; width:5%;  font-weight:bold;">District</th>
                    <th style="color:white; width:10%; font-weight:bold;">Item</th>
                    <th style="color:white; width:10%; font-weight:bold;">Make</th>
                    <th style="color:white; width:10%; font-weight:bold;">Capacity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="13" class="text-center">No Record found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>