@{
    ViewData["Title"] = "View Item | CREDA";
}


<style>

    /* Universal Loader CSS */
    #universalLoader {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid rgba(0, 0, 0, 0.1);
        border-left-color: #3498db;
        border-radius: 50%;
        animation: spin 1.2s linear infinite;
    }


    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div id="universalLoader">
    <div class="spinner"></div>
</div>

<div id="FaultFiltersView">
    <div class="row justify-content-center mt-md-3">
        <h2>View Items</h2>
        <button id="" class="btn btn-back-to-list" onclick="BacktoHome()"><img src="~/img/Back_icon.png" alt="Alternate Text" class="back-icon" />BACK</button>
        <button id="backToDashButton" class="btn btn-back-to-dash">
            <img src="~/img/Home_icon.png" alt="Alternate Text" class="home-icon">
        </button>
        <div class="col-12">
            <form class="p-4 border rounded shadow-sm bg-light">
                <!-- First row of fields -->
                <div class="row g-3 mb-3">
                    <div class="setform">
                        <!-- First column -->
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="d-flex align-items-center me-3">
                                    <input type="text" id="Chalan" class="form-control" placeholder="Enter Your Chalan Number " />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="d-flex align-items-center" id="down">
                                    <select id="item" class="form-control custom-dropdown">
                                        <option value="">Select Item</option>
                                        <option>Steel Rod</option>
                                        <option>Cement Bags</option>
                                        <option>Sand</option>
                                        <option>Bricks</option>
                                        <option>Pipes</option>
                                    </select>
                                    <span class="dropdown-arrow"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="d-flex align-items-center" id="down">
                                    <select id="make" class="form-control custom-dropdown">
                                        <option value="">Select Make</option>
                                        <option>TATA</option>
                                        <option>ACC</option>
                                        <option>Local</option>
                                        <option>Birla</option>
                                        <option>Jindal</option>
                                    </select>
                                    <span class="dropdown-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Second column -->
                            <div class="col-12 col-md-6 col-lg-4 mt-2" id="Size1">
                                <div class="d-flex align-items-center" id="down">
                                    <select id="District" class="form-control custom-dropdown">
                                        <option value="">Select District</option>
                                    </select>
                                    <span class="dropdown-arrow"></span>
                                </div>
                            </div>

                            <!-- Start Date Picker column -->
                            <div class="col-12 col-md-6 col-lg-4 mt-2" id="Size1">
                                <div class="d-flex align-items-center">
                                    <!-- Date Picker Input -->
                                    <input type="date" id="StartDate" class="form-control custom-dropdown">
                                    <span id="dropdownarrow"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Search and Clear Buttons -->
                    <div class="col-12 col-md-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
                        <div class="alinebutton">
                            <button type="button" class="btn btn-primary" id="searchButton" onclick="onSearchClicked()" style=""><img src="~/img/Search_icon.png" alt="" class="search_icon" />SEARCH</button>
                            <button type="button" class="btn btn-primary ms-2" id="clearButtonreport" onclick="ClearAllSearchJJM()"><img src="~/img/Clear_icon.png" alt="Alternate Text" class="clear_icon" /> CLEAR</button>
                        </div>
                        <div class="alinedownlodbtn">
                            <button type="button" class="btn btn-primary ms-2" id="DownloadButton" onclick="downloadReportClicked()"><img src="~/img/Download_icon.png" alt="" class="download_icon" /> DOWNLOAD</button>
                            </<div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ViewItemListPartialView"></div>
<div id="ViewItemListDetailsPartialView"></div>


@section PageScripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/StockManagement.js"></script>
    <script>
        $(document).ready(function () {
            GetViewItemList();
            fetchDistforAdminPanel();

            $('#StartDate').change(function () {
                const selectedDate = this.value;
                $("#qtyUptoHead").text("Quantity Upto (" + selectedDate + ")");
                $("#qtyAfterHead").text("Quantity After (" + selectedDate + ")");
            });

        });

    </script>
}