.main-container {
    display: flex;
    justify-content: space-between;
}
.container1 {
    box-shadow: lightgray 8px 8px 12px 2px;
    margin-top: 8px;
    width: 68% !important;
    background-color: white; 
    padding: 15px;
    border-radius: 10px;
}
.error {
    color: red;
    font-size: 12px;
}

.form-control:disabled {
    cursor: not-allowed !important;
    opacity: 1 !important;
}

.custom-file-input {
    color: #007bff;
}

    .custom-file-input::file-selector-button {
        background-color: #007bff;
        color: #fff;
        padding: 0.375rem 0.75rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.delete-icon {
    font-size: 18px;
    color: red;
}

.tab-container {
    width: 100%;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.tab {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    margin-right: 5px;
    cursor: pointer;
}

    .tab.active {
        border-radius: 5px;
        background-color: #1aaad6;
        border-bottom: none;
        font-weight: bold;
        color: white;
    }

.tab-content {
    display: none;
    /*border: 1px solid #ddd; */
    height: 275px;
    overflow-y: auto;
}

    .tab-content.active {
        margin-top: -10px!important;
        display: block;
    }

.complaint-content, .grievance-content {
    border-radius: 5px;
    border: 2px solid #d3cfcf;
    background-color: #fafafa;
    padding: 0px 5px 0px 10px;
    margin-bottom: 2px;
}

.view-all {
    color: blue;
    text-decoration: underline;
}

    .view-all:hover {
        color: darkblue;
    }

.tab-content {
    padding: 0.3rem !important;
}

.container {
    padding-top: 25px !important;
    border-radius: 10px;
}

.containerNotification {
    margin-top: -24px;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 25%;
    padding: 20px 0px;
    border-radius: 10px;
    height: 85px;
    display: flex;
    justify-content: flex-end;
}

.return-icon {
    width: 55px !important;
    height: 30px !important;
    margin-bottom: 3px !important;
    margin-right: -7px !important;
}

.parent {
    margin-left: 48px;
    width: 40px;
    height: 40px;
    background: blue;
    /*  margin:auto; */
    border-radius: 100%;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

@keyframes breathe {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(0.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes breathe2 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

.parent:before {
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 2;
    width: 90px;
    height: 90px;
    background: blue;
    opacity: 0.3;
    border-radius: 100%;
    animation: breathe2 2s infinite;
}

.parent:after {
    content: "";
    position: absolute;
    top: -45px;
    left: -45px;
    z-index: 3;
    width: 130px;
    height: 130px;
    background: #2033db;
    opacity: 0.2;
    border-radius: 100%;
    animation: breathe 2s infinite;
}

.parent > span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 6px;
    left: 11px;
}


.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Style for buttons */
button {
    border: none;
    background: none;
    cursor: pointer;
}


.table tr > td .dropdown {
    position: absolute !important;
}

.dot-menu {
    font-weight: bold;
    cursor: pointer;
    font-size: 21px;
    display: inline-block;
    z-index: 4;
    color: #7e7e7e;
}


.dropdown {
    display: none;
    position: absolute;
    left: 90%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 155px;
    border-radius: 5px;
    padding-top: 0px !important;
    inset: 5px 0px auto auto;
    margin: 0px;
    transform: translate3d(-80px, 300px, 0px);
}

    /* Dropdown options */
    .dropdown a {
        color: inherit;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #ddd;
    }

        .dropdown a:hover {
            background-color: #f1f1f1;
        }

        .dropdown a:last-child {
            border-bottom: none;
        }


.show {
    display: block;
}
/* Modal overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-container {
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 35%;
    text-align: center;
}


.submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 82%;
}

    .submit-btn:hover {
        background-color: #218838;
    }

.close-icon {
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: red;
}

a {
    cursor: pointer !important;
}

.inline-item {
    display: block;
}

    .inline-item img {
        margin-top: -4px;
        margin-right: 12px;
    }

.close-icon {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .modal-form input,
    .modal-form select,
    .modal-form textarea {
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
    }

.submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: #218838;
    }

.close-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    .close-btn:hover {
        background-color: #0056b3;
    }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.close-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

    .close-btn:hover {
        background-color: #0056b3;
    }

.notification-container {
    width: 90%;
    max-width: 600px;
}

/* Notification styling */
.notification {
    display: flex;
    align-items: center;
    position: relative;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    margin-right: 10px;
}

.icon {
    font-size: 16px;
}

.notification h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.notification p {
    font-size: 14px;
    color: #666;
    margin-bottom: 0.2rem !important;
}

.header {
    margin-bottom: 0px;
    margin-top: 10px;
}

.dropdown-menu {
    --bs-dropdown-min-width:8rem !important;
}