@{
    ViewData["Title"] = "सौर समाधान | CREDA";
    Layout = "_BlankLayout";
}

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<link href="~/dashboard_assets/images/fevicon.png" rel="icon"/>
<link href="~/dashboard_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/dashboard_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/dashboard_assets/vendor/aos/aos.css" rel="stylesheet" />
<link href="~/dashboard_assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="~/dashboard_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
<link href="~/dashboard_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<link href="~/dashboard_assets/css/main.css" rel="stylesheet" />

<style>
    .topbar .container{
        padding-top:0 !important;
    }
    .team-member {
        max-width: 280px; /* Set a maximum width */
        margin: 0 auto;
    }

    .team-img {
        width: 100%;
        height: 300px; /* Adjust height as needed */
    }

    .YojnaCardImg {
        height: 70px;
        margin: 20px 0;
    }

    #hero-carousel .carousel-item h2 {
        color:#555555;
    }
    </style>

<body class="index-page">

    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between " >
                <div class="d-none d-md-flex align-items-center">
                    <i class="bi bi-clock me-1"></i>
                    <span id="currentDate"></span>
                </div>
                <div class="d-flex align-items-center" style="cursor:pointer">
                    <i class="bi bi-phone me-1"></i> Call us at +91 18001234591
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center">
            <div class="container d-flex justify-content-between pt-0">
                <a href="#" class="logo">
                    <img src="~/dashboard_assets/images/creda.png" alt="" />
                </a>
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="active">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#objectives">Objective</a></li>
                        <li><a href="#team">Our Team</a></li>
                        <li class="dropdown pt-0">
                            <a href="#"><span>Public Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a asp-action="SSY_Registration" asp-controller="SSY">आवेदन - सौर सुजला योजना</a></li>
                                <li><a asp-action="GrievanceGlance" asp-controller="SSY">शिकायत स्थिति</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contact</a></li>
                        <a class="btn btn-danger text-white text-center login-btn" asp-action="LoginBasic" asp-controller="Auth">Login</a>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
                <img src="~/dashboard_assets/images/cglogo.png" alt="" style="max-height: 70px;" class="mobile-hide" />
            </div>
        </div>
    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                <div class="carousel-item active">
                    <img src="~/dashboard_assets/images/topcarousal/topcarousal2.jpg" alt="" />
                    <div class="container">
                        <h2 style="color:#555555">Welcome to CREDA</h2>
                        <p>CREDA - Chhattisgarh State Renewable Energy Development Agency, has been constituted on 25th May 2001 under the Department of Energy, Government of Chhattisgarh for the implementation of various schemes about Renewable Energy sources and Energy Conservation activities.</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/dashboard_assets/images/topcarousal/topcarousal3.jpg" alt="" style="display:none!important" />
                    <img src="~/dashboard_assets/images/gallery/award and achievement section new photo.jpeg" style="display:none!important" />
                    <img src="~/dashboard_assets/images/topcarousal/topcarousal5.jpg" />
                    <div class="container">
                        <h2>Chhattisgarh State Renewable Energy Development Agency</h2>
                        <p>CREDA - Chhattisgarh State Renewable Energy Development Agency, has been constituted on 25th May 2001 under the Department of Energy, Government of Chhattisgarh for the implementation of various schemes about Renewable Energy sources and Energy Conservation activities.</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/dashboard_assets/images/topcarousal/topcarousal4.jpg" alt="" style="display:none!important" />
                    <img src="~/dashboard_assets/images/gallery/indira gaon nadi anicut.jpg" />
                    <div class="container">
                        <h2>छत्तीसगढ़ राज्य अक्षय ऊर्जा विकास अभिकरण</h2>
                        <p>CREDA - Chhattisgarh State Renewable Energy Development Agency, has been constituted on 25th May 2001 under the Department of Energy, Government of Chhattisgarh for the implementation of various schemes about Renewable Energy sources and Energy Conservation activities.</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

                <ol class="carousel-indicators"></ol>

            </div>

        </section><!-- /Hero Section -->
        <!-- Featured Services Section -->
        <section id="featured-services" class="featured-services section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div>
                                <img src="~/dashboard_assets/images/ssy.jfif" alt="" class="YojnaCardImg">

                            </div>
                            <h4><a href="" class="stretched-link">सौर सुजला योजना</a></h4>
                            <p style="text-align: justify;">राज्य के विद्युत पहुंचविहीन क्षेत्रों के कृषकों को सिंचाई की सुविधा उपलब्ध कराने के प्रयोजन से राज्य शासन द्वारा सौर सुजला योजना का क्रियान्वयन किया जा रहा है।</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div>
                                <img src="~/dashboard_assets/images/jjm.jpeg" class="YojnaCardImg" />
                            </div>
                            <h4><a href="" class="stretched-link">जल जीवन मिशन</a></h4>
                            <p style="text-align: justify;"> जल शक्ति मंत्रालय भारत सरकार द्वारा देश के समस्त ग्रामों के हर घर तक स्वच्छ पेयजल व्यवस्था उपलब्ध कराने के दृष्टिकोण से जल जीवन मिशन योजना की शुरूआत की गई है।</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div>
                                <img src="~/dashboard_assets/images/shm.jpeg" class="YojnaCardImg" />
                            </div>
                            <h4><a href="" class="stretched-link">सोलर हाई मास्ट</a></h4>
                            <p style="text-align: justify;">क्रेडा द्वारा राज्य के ग्रामों, कस्बों, निकायों, शहरों के मुख्य चैराहों/सार्वजनिक स्थलों में प्रकाश व्यवस्था उपलब्ध कराए जाने के दृृष्टिकोण से सोलर हाई मास्ट संयंत्रों की स्थापना की जा रही है। </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div>
                                <img src="~/dashboard_assets/images/biogas.jpeg" class="YojnaCardImg" />
                            </div>
                            <h4><a href="" class="stretched-link">बायोगैस</a></h4>
                            <p style="text-align: justify;">प्रदेश के ग्रामीण क्षेत्रों में निवासरत्् जनसामान्य को स्वच्छ एवं स्वस्थ ईंधन का उपयोग कर भोजन निर्माण हेतु प्रोत्साहित करने के उद्देश्य से बायोगैस संयंत्र आधारित परियोजना का क्रियान्वयन राज्य शासन द्वारा किया जा रहा है।</p>
                        </div>
                    </div><!-- End Service Item -->
                </div>

            </div>

        </section><!-- /Featured Services Section -->
        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>About Us<br></h2>
            </div><!-- End Section Title -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex  justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <iframe width="450" height="250" src="https://www.youtube.com/embed/daCHaQ9NMq8?si=XUtOSVhdM3Wp2Z6t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                        <h3>Introduction</h3>
                        <p style="text-align: justify;">
                            Since its inception, CREDA did extensive work in the field of Renewable Energy focusing on rural areas and stand alone devices. It has implemented projects in the field of power generation from renewable energy and environment friendly sources. To undertake this onerous responsibility, CREDA has positioned itself as an organization with enough financial and human capabilities having a professional organizational structure. It has also undertaken extensive human resource development activities which has created a modern working environment for its staff.
                        </p>
                        <p style="text-align: justify;"><strong>REGISTRATION No.</strong> – Chhattisgarh State Renewable Energy Development Agency (CREDA) has been registered by the “ Registrar of Society, CG (under Society Registration Adhiniyam, 1973)</p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span><strong>PAN Number</strong> - AAAJC0190K</span></li>
                            <li><i class="bi bi-check2-all"></i> <span><strong>GST Tax Payer Number</strong> - 22AAAJC0190K2ZM</span></li>
                            <li><i class="bi bi-check2-all"></i> <span><strong>GST TAN Number</strong> - 22BPLC01259G1DL</span></li>
                        </ul>
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->
        <!-- Stats Section -->
        <section id="stats" class="stats section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <img src="~/dashboard_assets/images/icon/project.png" alt="" height="50px" />
                            <div style="margin-left: 40px;">
                                <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Schemes/Projects</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <img src="~/dashboard_assets/images/icon/location.png" alt="" height="50px"/>
                            <div style="margin-left: 40px;">
                                <span data-purecounter-start="0" data-purecounter-end="33" data-purecounter-duration="1" class="purecounter"></span>
                                <p>District</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <img src="~/dashboard_assets/images/icon/office.png" alt="" height="50px" />
                            <div style="margin-left: 40px;">
                                <span data-purecounter-start="0" data-purecounter-end="46" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Offices</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <img src="~/dashboard_assets/images/icon/award.png" alt="" height="50px" />
                            <div style="margin-left: 40px;">
                                <div class="d-flex">
                                    <span id="award-counter" data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
                                    <span>+</span>
                                </div>
                                <p>Awards</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section><!-- /Stats Section -->
        <!-- Services Section -->
        <section id="objectives" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Objectives</h2>
                <p style="text-align: center;">CREDA's main goal is to make renewable energy accessible and easy to adopt for everyone in Chhattisgarh.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/policy&pro.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Policy and Programmes</h3>
                            </a>
                            <p style="text-align:justify;">Promote policies and programmes necessary for popularizing the applications of various new and renewable energy technologies in the State.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/development.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Development and Popularization</h3>
                            </a>
                            <p style="text-align:justify;">Development and popularization of non-conventional & renewable sources of energy and energy conservation activities in the State of Chhattisgarh.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/dessemination.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Information Dissemination</h3>
                            </a>
                            <p style="text-align:justify;">Information dissemination and public awareness on use of renewable energy sources and energy conservation..</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/technical.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Technical and Financial</h3>
                            </a>
                            <p style="text-align:justify;">Provide technical and financial assistance for extension of renewable energy and energy efficiency projects for Chhattisgarh State.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/policyenviroment.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Policy Enviroment</h3>
                            </a>
                            <p style="text-align:justify;">Pursue power projects based on renewable energy for private sector by creating suitable policy environment.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img src="~/dashboard_assets/images/objectivelogo/distribution.png" alt="" height="50px" />
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Distribution and Marketing</h3>
                            </a>
                            <p style="text-align:justify;">Support large scale distribution & marketing of standalone renewable energy devices.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->


        <section id="team" class="doctors section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Our Team Member</h2>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="100" style="">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/dashboard_assets/images/teammember/cm.jpg" class="img-fluid team-img" alt="" />
                            </div>
                            <div class="member-info">
                                <h4>Shri Vishnu Deo Sai</h4>
                                <span>Honourable Chief Minister, Energy Minister, Govt. of Chhattisgarh & Chairman, CREDA</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="100" style="">
                        <div class="team-member">
                            <div class="member-img">
                                @* <img src="~/dashboard_assets/images/teammember/cm.jpg" class="img-fluid team-img" alt="" /> *@
                                <img src="~/dashboard_assets/images/teammember/chairman.jpeg" class="img-fluid team-img" alt="" />
                            </div>
                            <div class="member-info">
                                <h4>Shri Bhupendra Sawanni</h4>
                                <span>Honourable Chairman, CREDA</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/dashboard_assets/images/teammember/secretary.jpg" class="img-fluid team-img" alt="" />
                            </div>
                            <div class="member-info">
                                <h4>Shri Dr. Rohit Yadav</h4>
                                <span>IAS Secretary, Energy Department Govt. of Chhattisgarh</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                @* <img src="~/dashboard_assets/images/teammember/ceo.png" class="img-fluid team-img" alt="" /> *@
                                <img src="~/dashboard_assets/images/teammember/ceo.jpg" class="img-fluid team-img" alt="" />
                            </div>
                            <div class="member-info">
                                <h4>Shri Rajesh Singh Rana</h4>
                                <span>IAS Chief Executive Officer, CREDA</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div><!-- End Row -->

            </div><!-- End Container -->

        </section><!-- /Doctors Section -->
        <!-- Gallery Section -->
        <section id="gallery" class="gallery section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Gallery</h2>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "centeredSlides": true,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 0
                            },
                            "768": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            },
                            "1200": {
                              "slidesPerView": 5,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>

                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/8.jpg"><img src="~/dashboard_assets/images/gallery/8.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/Enikettu _FINAL_Borenda, Tehsl. Patan, dist. Durg.jpg"><img src="~/dashboard_assets/images/gallery/Enikettu _FINAL_Borenda, Tehsl. Patan, dist. Durg.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/images//Gallery/indira gaon nadi anicut.JPG"><img src="~/dashboard_assets/images/gallery/indira gaon nadi anicut.JPG" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/10.jpg"><img src="~/dashboard_assets/images/gallery/10.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/12.jpg"><img src="~/dashboard_assets/images/gallery/12.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/13.jpg"><img src="~/dashboard_assets/images/gallery/13.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/2.jpg"><img src="~/dashboard_assets/images/gallery/2.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/7.jpg"><img src="~/dashboard_assets/images/gallery/7.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/nprs3.jpeg"><img src="~/dashboard_assets/images/gallery/nprs3.jpeg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/dashboard_assets/images/gallery/nprs 1.jpeg"><img src="~/dashboard_assets/images/gallery/nprs 1.jpeg" class="img-fluid" alt=""></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Gallery Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>CREDA, Head Office</p>
            </div><!-- End Section Title -->

            <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29755.364349164483!2d81.695929!3d21.215166!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c329688d5683%3A0xa5628ff87ae9156c!2sCREDA%2C%20Head%20Office%2C%20Raipur!5e0!3m2!1sen!2sus!4v1727774832645!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></>" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
                    <div class="col-lg-6 ">
                        <div class="row gy-4">

                            <div class="col-lg-12">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Address</h3>
                                    <p>
                                        V.I.P. Road (Airport Road),
                                        Near Energy Education Park,
                                        Raipur - 492015,Chhattisgarh
                                    </p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Call Us</h3>
                                    <p>+91 18001234591</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>contact.creda@gov.in</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="#" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Send Message</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer light-background">
        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> 2024 <span>All Rights Reserved</span></p>
            <div class="credits">
                Designed and Developed by <a href="https://binomialsolutions.com/">Binomial Solutions Pvt. Ltd.</a>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <script src="~/dashboard_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashboard_assets/vendor/php-email-form/validate.js"></script>
    <script src="~/dashboard_assets/vendor/aos/aos.js"></script>
    <script src="~/dashboard_assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/dashboard_assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/dashboard_assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/dashboard_assets/js/main.js"></script>

</body>