@{
    ViewData["Title"] = "District";
}

<div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <img src="~/img/reports_1.png" alt="chart success" class="rounded">
                        </div>
                    </div>
                    <span class="fw-medium d-block mb-1">Import District Details</span>

                    <!-- File input -->
                    <input type="file" class="form-control-file mb-2">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid w-100">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Document Name</th>
                        <th scope="col">District Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Document 1</td>
                        <td>District Name 1</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Document 2</td>
                        <td>District Name 2</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Document 3</td>
                        <td>District Name 3</td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>





