body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    margin-top: 13px;
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 5px 0 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 33%; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-left: 130px;
}

    button:hover {
        background-color: #218838;
    }

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index:100000 !important;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 450px;

}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.text {
    margin-top: -4px;
    color: green;
    margin-left: 526px;
}
.text:hover {
    cursor: pointer;
}
.btn {
    margin-left: 176px;
}